fastapi
uvicorn
pydantic[email]
pydantic-settings
python-dotenv
langchain
langchain-community
langchain-groq
groq
supabase
python-multipart
httpx
jinja2
sentry-sdk
langsmith
duckduckgo-search
pytesseract
Pillow
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.0
pandas
openpyxl
email-validator
celery
redis
neo4j
langchain-neo4j
