fastapi
uvicorn
pydantic[email]
pydantic-settings
python-dotenv
langchain
langchain-community
langchain-groq
groq
supabase
python-multipart
httpx
jinja2
sentry-sdk
langsmith
duckduckgo-search
pytesseract
Pillow
python-jose[cryptography]
bcrypt==4.0.1
pandas
openpyxl
email-validator
celery
redis
